*.suo
*.user
*.ndproj
*.Publish.xml
*.Re[Ss]harper
~$*.*
_Resharper.*
NDependOut
PrecompiledWeb
[Oo]bj
[Bb]in
.sonar
/svn_revision.tmp
/BD/OKW/sql/release
/BD/OKW/sql/debug
/BD/OKW/obj
/BD/Server/obj/
/BD/Server/sql/
/Comunes/*.dll
/Comunes/*.pdb
/Comunes/*.exe
/Comunes/Configuration.xml
/Expediente/Setup/Setup/Recursos/
/Debug
UpgradeLog.XML
/_UpgradeReport_Files/
/db/DBDEPLOY.mdf
/db/DBDEPLOY_log.ldf
/db/create.database.sql
/db/create.database.sql.output.txt